<head>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>

<body>
    <div class="productCard_block">
        <div class="row">
            <div class="small-12 large-6 columns">
                <div class="productCard_leftSide clearfix">
                    <div class="productCard_brendBlock">
                        <a class="productCard_brendBlock__imageBlock" href="#">
                            <img src="assets/Logo/logo1.png" alt="Logo" class="logo-img">
                        </a>
                    </div>

                    <div class="sliderBlock">
                        <!-- Slider de imágenes -->
                        <ul class="sliderBlock_items">
                            <li class="sliderBlock_items__itemPhoto" *ngFor="let image of product.images; let i = index"
                                [class.sliderBlock_items__showing]="i === currentIndex">
                                <img [src]="getImageUrl(image)" alt="headphones">
                            </li>
                        </ul>

                        <div class="sliderBlock_controls">
                            <div class="sliderBlock_controls__navigatin">
                                <div class="sliderBlock_controls__wrapper">
                                    <!-- Flecha hacia atrás -->
                                    <div class="sliderBlock_controls__arrow sliderBlock_controls__arrowBackward"
                                        (click)="moveSlider(-1)">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        <!-- Asegúrate de que este icono sea correcto -->
                                    </div>
                                    <!-- Flecha hacia adelante -->
                                    <div class="sliderBlock_controls__arrow sliderBlock_controls__arrowForward"
                                        (click)="moveSlider(1)">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        <!-- Asegúrate de que este icono sea correcto -->
                                    </div>
                                </div>
                            </div>

                            <!-- Paginación de imágenes -->
                            <ul class="sliderBlock_positionControls">
                                <li *ngFor="let image of product.images; let i = index" (click)="goToSlide(i)"
                                    class="sliderBlock_positionControls__paginatorItem"
                                    [class.sliderBlock_positionControls__active]="i === currentIndex">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="small-12 large-6 columns">
                <div class="productCard_rightSide">
                    <div class="block_specification">
                        <div class="block_specification__specificationShow" (click)="toggleSpecification()">
                            <i class="fa fa-cog block_specification__button block_specification__button__rotate"
                                aria-hidden="true"></i>
                            <span class="block_specification__text">spec</span>
                        </div>
                        <div class="block_specification__informationShow hide">
                            <i class="fa fa-info-circle block_specification__button block_specification__button__jump"
                                aria-hidden="true"></i>
                            <span class="block_specification__text">inform</span>
                        </div>
                    </div>

                    <p class="block_model">
                        <span class="block_model__text">Model: </span>
                        <span class="block_model__number">505795</span>
                    </p>

                    <div class="block_product">
                        <h2 class="block_name block_name__mainName">{{product.name}}<sup>&reg; </sup></h2>

                        <p class="block_product__advantagesProduct">
                            {{product.description}}
                        </p>

                        <div class="block_informationAboutDevice">
                            <!-- Este div será mostrado u ocultado según el estado de showSpecifications -->
                            <!-- Contenido de las Especificaciones -->
                            <div class="block_descriptionCharacteristic" [class.active]="isSpecificationVisible">
                                <h3>Especificaciones del Producto</h3>
                                <p>Aquí van los detalles del producto...</p>
                                <table class="block_specificationInformation_table">
                                    <tr>
                                        <th>Característica 1</th>
                                        <td>Valor 1</td>
                                    </tr>
                                    <tr>
                                        <th>Característica 2</th>
                                        <td>Valor 2</td>
                                    </tr>
                                    <tr>
                                        <th>Característica 3</th>
                                        <td>Valor 3</td>
                                    </tr>
                                </table>
                            </div>

                            <br>
                            <div class="block_descriptionInformation">
                                <p><strong>Categorías:</strong></p>
                                <ul>
                                    <li *ngFor="let category of categories">{{ category }}</li>
                                </ul>
                            </div>

                            <br>
                            <div class="inventories">
                                <h5>Caracteristicas:</h5>
                                <div *ngIf="inventories.length > 0; else noInventories">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Color</th>
                                                <th>Tamaño</th>
                                                <th>Estado</th> <!-- Mostrar el estado -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let inventory of inventories">
                                                <td>{{ inventory.color }}</td>
                                                <td>{{ inventory.size }}</td>
                                                <td>{{ inventory.status }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ng-template #noInventories>
                                    <strong>No hay variaciones de inventario disponibles.</strong>
                                </ng-template>
                            </div>

                            <div class="block_rating clearfix">
                                <fieldset class="block_rating__stars">
                                    <input type="radio" id="star5" name="rating" value="5" /><label class="full"
                                        for="star5" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label
                                        class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label class="full"
                                        for="star4" title="Good - 4 stars"></label>
                                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label
                                        class="half" for="star3half" title="Above average - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label class="full"
                                        for="star3" title="Average - 3 stars"></label>
                                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label
                                        class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label class="full"
                                        for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label
                                        class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label class="full"
                                        for="star1" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half"
                                        for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>

                                <span class="block_rating__avarage">4.25</span>
                                <span class="block_rating__reviews">(153 reviews)</span>

                            </div>
                            <div class="row ">
                                <div class="large-6 small-12 column left-align">
                                    <div class="block_price">
                                        <p class="block_price__currency">{{product.price}}</p>
                                        <p class="block_price__shipping">Shipping and taxes extra</p>
                                    </div>
                                    <div class="block_quantity clearfix">
                                        <span class="text_specification">Quantity</span>
                                        <div class="block_quantity__chooseBlock">
                                            <input class="block_quantity__number" name="quantityNumber" type="text"
                                                min="1" value="1">
                                            <button class="block_quantity__button block_quantity__up"></button>
                                            <button class="block_quantity__button block_quantity__down"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-6 small-12 column end">
                                    <div class="block_goodColor">
                                        <span class="text_specification">Choose your colors:</span>
                                        <div class="block_goodColor__allColors">
                                            <input type="radio" name="colorOfItem" class="radio_button" id="radioColor"
                                                checked />
                                            <label for="radioColor"
                                                class="block_goodColor__radio block_goodColor__black"></label>
                                            <input type="radio" name="colorOfItem" class="radio_button"
                                                id="radioColor2" />
                                            <label for="radioColor2"
                                                class="block_goodColor__radio block_goodColor__silver"></label>
                                        </div>
                                    </div>
                                    <button class="button button_addToCard">
                                        Add to Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>