<mat-toolbar color="primary">
    <span class="logo">
        <img src="assets/Logo/logo1.png" alt="Logo" class="logo-img">
    </span>

    <a>ECOMMERCE_Xz</a>

    <span class="spacer"></span>

    <!-- Botones de navegación -->
    <button mat-button routerLink="/home" class="custom-button">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
    </button>

    <!--PERFIL-->
    <!-- Botón de Perfil con menú desplegable -->
    <div class="dropdown-container" (mouseover)="toggleProfileDropdown(true)" (mouseout)="toggleProfileDropdown(false)">
        <button mat-button class="custom-button">
            <mat-icon>account_circle</mat-icon>
            <span>Mi perfil</span>
        </button>

        <!-- Menú desplegable de perfil -->
        <div class="dropdown" *ngIf="showProfileDropdown">
            <ul>
                <li (click)="goToProfile()">Perfil</li>
                <li (click)="goToOrder()">Mis pedidos</li>
                <li (click)="goToLogin()">Iniciar sesión</li>
                <li (click)="logout()">Cerrar sesión</li>
            </ul>
        </div>
    </div>

    <button mat-button routerLink="/carrito" class="custom-button">
        <mat-icon>shopping_cart</mat-icon>
        <span>Carrito de compras</span>
    </button>

</mat-toolbar>