<div class="blank-layout-container justify-content-center align-items-center bg-gradient">
  <div class="position-relative row w-100 h-100 justify-content-center">
    <div class="col-lg-6 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <!-- Logo -->
          <div class="text-center">
            <img src="assets/Logo/logo1.png" alt="logo" />
          </div>

          <div class="or-border m-t-30">inicia sesión con tu cuenta</div>

          <!-- Formulario de registro 2.0-->
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mt-4">
            <div class="form-row">
              <!-- First Name -->
              <div class="form-col" [class.show]="showInputs[0]">
                <mat-label class="mat-subtitle-2">First Name</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="First Name" formControlName="firstName" required />
                  <mat-error *ngIf="firstName?.hasError('required')">First Name is required.</mat-error>
                </mat-form-field>
              </div>

              <!-- Last Name -->
              <div class="form-col" [class.show]="showInputs[1]">
                <mat-label class="mat-subtitle-2">Last Name</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Last Name" formControlName="lastName" required />
                  <mat-error *ngIf="lastName?.hasError('required')">Last Name is required.</mat-error>
                </mat-form-field>
              </div>

              <!-- Email -->
              <div class="form-col" [class.show]="showInputs[2]">
                <mat-label class="mat-subtitle-2">Email Address</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput type="email" placeholder="Email" formControlName="email" required />
                  <mat-error *ngIf="email?.hasError('required')">Email is required.</mat-error>
                  <mat-error *ngIf="email?.hasError('email')">Invalid email format.</mat-error>
                </mat-form-field>
              </div>

              <!-- Phone -->
              <div class="form-col" [class.show]="showInputs[3]">
                <mat-label class="mat-subtitle-2">Phone Number</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput type="tel" placeholder="Phone Number" formControlName="phone" required />
                  <mat-error *ngIf="phone?.hasError('required')">Phone number is required.</mat-error>
                  <mat-error *ngIf="phone?.hasError('pattern')">Phone number must be 10 digits.</mat-error>
                </mat-form-field>
              </div>

              <!-- City or municipe -->
              <div class="form-col" [class.show]="showInputs[4]">
                <mat-label class="mat-subtitle-2">city or municipe</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Address" formControlName="city" />
                </mat-form-field>
              </div>

              <!-- Address -->
              <div class="form-col" [class.show]="showInputs[5]">
                <mat-label class="mat-subtitle-2">Address</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Address" formControlName="address" />
                </mat-form-field>
              </div>

              <!-- Password -->
              <div class="form-col" [class.show]="showInputs[6]">
                <mat-label class="mat-subtitle-2">Password</mat-label>
                <mat-form-field appearance="outline">
                  <input [type]="showPassword ? 'text' : 'password'" matInput placeholder="Password"
                    formControlName="password" required />
                  <mat-error *ngIf="registerForm.hasError('mismatch') && confirmPassword?.touched">Passwords do not
                    match.</mat-error>
                  <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                    <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                  </button>
                </mat-form-field>
              </div>

              <!-- Confirm Password -->
              <div class="form-col" [class.show]="showInputs[7]">
                <mat-label class="mat-subtitle-2">Confirm Password</mat-label>
                <mat-form-field appearance="outline">
                  <input [type]="showConfirmPassword ? 'text' : 'password'" matInput placeholder="Confirm Password"
                    formControlName="confirmPassword" required />
                  <mat-error *ngIf="registerForm.hasError('mismatch') && confirmPassword?.touched">Passwords do not
                    match.</mat-error>
                  <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
                    <mat-icon>{{ showConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>

            <!-- Submit Button -->
            <button mat-flat-button color="primary" class="w-100 mt-4" [disabled]="!registerForm.valid">
              Sign Up
            </button>
          </form>

          <!-- Línea divisoria -->
          <div class="or-border m-t-30">o inicia sesión con </div>

          <!-- Botones de redes sociales -->
          <div class="flex-row">
            <!-- Botón de Google -->
            <button mat-stroked-button class="btn google w-100 d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20" class="google-icon">
                <path d="M113.47,309.408L95.648,375.94l-65.139,1.378C11.042,341.211,0,299.9,0,256
                  c0-42.451,10.324-82.483,28.624-117.732h0.014l57.992,10.632l25.404,57.644c-5.317,15.501-8.215,32.141-8.215,49.456
                  C103.821,274.792,107.225,292.797,113.47,309.408z" style="fill:#FBBB00;"></path>
                <path d="M507.527,208.176C510.467,223.662,512,239.655,512,256c0,18.328-1.927,36.206-5.598,53.451
                  c-12.462,58.683-45.025,109.925-90.134,146.187l-0.014-0.014l-73.044-3.727l-10.338-64.535
                  c29.932-17.554,53.324-45.025,65.646-77.911h-136.89V208.176h138.887L507.527,208.176L507.527,208.176z"
                  style="fill:#518EF8;"></path>
                <path d="M416.253,455.624l0.014,0.014C372.396,490.901,316.666,512,256,512
                  c-97.491,0-182.252-54.491-225.491-134.681l82.961-67.91c21.619,57.698,77.278,98.771,142.53,98.771
                  c28.047,0,54.323-7.582,76.87-20.818L416.253,455.624z" style="fill:#28B446;"></path>
                <path d="M419.404,58.936l-82.933,67.896c-23.335-14.586-50.919-23.012-80.471-23.012
                  c-66.729,0-123.429,42.957-143.965,102.724l-83.397-68.276h-0.014C71.23,56.123,157.06,0,256,0
                  C318.115,0,375.068,22.126,419.404,58.936z" style="fill:#F14336;"></path>
              </svg>
              Google
            </button>

            <!-- Botón de Facebook -->
            <button mat-stroked-button class="btn facebook w-100 d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" class="facebook-icon">
                <path fill="#1877F2"
                  d="M22.675 0H1.325C.593 0 0 .593 0 1.325v21.35C0 23.407.593 24 1.325 24h11.497v-9.294h-3.15v-3.622h3.15V9.75c0-3.127 1.868-4.852 4.735-4.852 1.378 0 2.514.102 2.854.148v3.327h-1.923c-1.506 0-1.853.713-1.853 1.801v2.307h3.366l-.434 3.622h-2.932V24h5.77c.732 0 1.325-.593 1.325-1.325V1.325C24 .593 23.407 0 22.675 0z">
                </path>
              </svg>
              Facebook
            </button>
          </div>

          <!-- Redirección al login -->
          <span class="d-block fw-bold text-center mt-4">
            Already have an Account?
            <a [routerLink]="['/auth/login']" class="text-decoration-none text-primary fw-bold fs-6">Sign In</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>