/* Estilos para la barra de navegación */
.mat-toolbar {
    background-color: #f4ece1;
    padding: 20px;
}

.mat-toolbar .logo img {
    height: 50px;
    width: 50px;
}

/* =======================================Estilos generales para botón ========================================================*/
.custom-button {
    margin: 0 5px;
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #000, #f4ece1);
    overflow: hidden;
    padding: 0.8em 1.2em 0.8em 1.05em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

/* Cambio de color del texto */
.custom-button span {
    position: relative;
    z-index: 10;
    transition: color 0.3s;
    display: inline-flex;
    align-items: center;
}

/* Pseudo-elemento ::before */
.custom-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background: #ffffff;
    transform: skew(30deg);
    z-index: 0;
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

/* Animación al hacer hover */
.custom-button:hover::before {
    transform: translate3d(100%, 0, 0);
}

/* Efecto al hacer click (active state) */
.custom-button:active {
    transform: scaleY(0.90);
}

/* Ajuste para el ícono */
.custom-button mat-icon {
    color: black;
    transition: color 0.3s;
}

/* Ajuste para el ícono hover*/
.custom-button:hover mat-icon {
    color: white;
    transition: color 0.3s;
}

/* Cuando el botón está en hover, cambia el color del texto */
.custom-button:hover span {
    color: white !important;
}

.mat-toolbar .spacer {
    flex: 1;
}

/* Estilos para el campo de búsqueda */
.search-field {
    width: 400px;
    /* Ajustamos el tamaño del ancho */
    height: 35px;
    /* Reducimos la altura del campo */
    background-color: #f5f9fb;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    /* Ajustamos el padding */
    transition: width 0.3s ease-in-out;
}

.search-field mat-icon {
    color: #a563fc;
    font-size: 20px;
    /* Reducimos el tamaño del icono */
    margin-right: 8px;
    /* Un pequeño margen para separar el icono del input */
}

.search-field input {
    background: none;
    border: none;
    outline: none;
    flex-grow: 1;
    height: 100%;
    /* Aseguramos que el input tenga la misma altura que su contenedor */
    padding: 5px 10px;
    /* Reducimos el padding dentro del input */
    font-size: 14px;
    /* Reducimos el tamaño de la fuente para que se vea más compacto */
    color: #333;
    border-radius: 18px;
}

.search-field input::placeholder {
    color: #bbb;
}

/* Estilos para los filtros */
.open-filters {
    background-color: #f5f9fb;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.mat-form-field {
    margin: 10px 10px;
    width: 200px;
}

//===========================================BANNER===========================================================================
/* Contenedor del carrusel */
.carousel-container {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* Contenedor de todas las imágenes, que se desliza */
.carousel-inner {
    display: flex;
    /* Coloca las imágenes una al lado de la otra */
    transition: transform 0.4s ease;
    /* Suaviza el desplazamiento */
}

/* Estilo de la imagen en el carrusel */
.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    /* Evita que las imágenes se reduzcan */
}

/* Flechas de navegación */
.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-arrow-left {
    left: 10px;
}

.carousel-arrow-right {
    right: 10px;
}

/* Puntos de navegación (dots) */
.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 10;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.dot:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.2);
}

.active-dot {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.4);
}

//===========================================PRODUCTS=========================================================================
/* Contenedor de los productos destacados */
.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Responsive grid con 250px mínimo por columna */
    gap: 1.5rem;
    padding: 2rem;
    background-color: #f7f7f7;
}

/* Estilo para cada tarjeta de producto */
.product-card {
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.08);
    transition: 0.3S;
}

/* Imagen del producto */
.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* Asegura que la imagen ocupe todo el espacio sin deformarse */
    border-bottom: 5px solid #ddd;
}

/* Contenido de la tarjeta del producto */
.product-card-content {
    padding: 1rem;
}

/* Nombre del producto */
.product-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

/* Precio del producto */
.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4caf50;
    /* Color verde para el precio */
    margin-bottom: 0.5rem;
}

/* Estado de disponibilidad */
.product-card-content span {
    font-size: 1rem;
    font-weight: bold;
}

/* Estado de disponibilidad: disponible */
.available {
    color: green;
}

/* Estado de disponibilidad: no disponible */
.unavailable {
    color: red;
}

/* Estilos para los detalles del producto */
.product-detail-container {
    padding: 20px;
}

.product-detail-container mat-card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


/* Estilos para los botones */
.mat-raised-button {
    background-color: #f7941d;
    color: white;
}

.mat-raised-button:hover {
    background-color: #d6810f;
}

/* Estilos para el modal */
.modal-header {
    background-color: #4a90e2;
    color: white;
}

/* Estilos para el contenido de la llamada */
.call {
    font-size: 14px;
    line-height: 1.6;
}

/* Ajustes para la barra de navegación */
.nav-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-button {
    margin-left: auto;
    color: rgb(241, 173, 173);
}

.form {
    --input-bg: #FFf;
    --padding: 1.5em;
    --rotate: 80deg;
    --gap: 2em;
    --icon-change-color: #15A986;
    --height: 40px;
    width: 900px;
    padding-inline-end: 1em;
    background: var(--input-bg);
    position: relative;
    border-radius: 10px;
}

.form label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
}

.form input {
    width: 100%;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
}

/* style for both icons -- search,close */
.form svg {
    color: #111;
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    position: absolute;
    height: 15px;
}

/* search icon */
.icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* arrow-icon*/
.swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
}

/* close button */
.close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    cursor: pointer;
}

.form input:focus~.icon {
    transform: rotate(var(--rotate)) scale(1.3);
}

.form input:focus~.icon .swap-off {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
}

.form input:focus~.icon .swap-on {
    opacity: 0;
    visibility: visible;
}

.form input:valid~.icon {
    transform: scale(1.3) rotate(var(--rotate))
}

.form input:valid~.icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
}

.form input:valid~.icon .swap-on {
    opacity: 0;
    visibility: visible;
}

.form input:valid~.close-btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0.3s;
}


//===========================================Botones de filtrado==============================
/* Estilos para el filtro de subcategoría */
mat-form-field {
    width: 30%; /* Hace que ocupe todo el ancho disponible */
    margin-bottom: 15px; /* Espacio debajo del campo */
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }
  
  /* Borde del campo de texto */
  mat-form-field .mat-form-field-outline {
    border-color: #c5b3b3; /* Color de borde gris suave */
    border-width: 1px; /* Borde más delgado */
    transition: all 0.3s ease; /* Transición suave para el borde */
  }
  
  /* Estilo cuando el campo está enfocado */
  mat-form-field.mat-focused .mat-form-field-outline {
    border-color: #888888; /* Cambiar a un gris más oscuro cuando está enfocado */
  }
  
  /* Fondo y estilo de texto */
  mat-form-field .mat-form-field-infix {
    background-color: #f5f5f5; /* Fondo gris claro */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  /* Flecha de selección */
  mat-form-field .mat-select-arrow {
    color: #888888; /* Color gris para la flecha */
  }
  
  /* Estilo para el botón de mostrar/ocultar filtros */
  button[mat-raised-button] {
    background-color: #e0e0e0; /* Color gris claro de fondo */
    color: #333333; /* Color del texto */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    font-weight: 500; /* Peso de la fuente */
    padding: 8px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    border: 1px solid #cccccc; /* Borde gris claro */
    transition: all 0.3s ease; /* Transición suave en hover */
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Efecto hover en el botón */
  button[mat-raised-button]:hover {
    background-color: #d5d5d5; /* Color más oscuro en hover */
    box-shadow: auto; /* Sin sombra en hover */
  }
  
  /* Efecto al hacer clic (activo) */
  button[mat-raised-button]:active {
    background-color: #bdbdbd; /* Color aún más oscuro cuando se presiona */
    box-shadow: none; /* Sin sombra al hacer clic */
  }
  
  /* Estilo adicional para el texto dentro del botón */
  button[mat-raised-button] span {
    font-weight: 500; /* Ajustamos el peso del texto */
    text-transform: none; /* Evita que el texto se vuelva mayúsculas */
    font-size: 14px;
  }
  
  /* Estilos para el contenedor de filtros */
  .open-filters {
      display: flex;
      flex-direction: column;
      gap: 20px;
      /* Espacio entre los filtros */
      padding: 20px;
      background-color: transparent;
      /* Fondo gris claro */
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      /* Sombra suave alrededor */
  }

  /* Estilo para el mat-form-field */
  mat-form-field {
      width: 30%;
      /* Asegura que ocupe el ancho completo */
      margin-bottom: auto;
      /* Espacio inferior entre los filtros */
      font-size: 14px;
      /* Tamaño de texto estándar */
  }

  /* Estilo para los bordes del mat-form-field */
  mat-form-field .mat-form-field-outline {
      border-color: #cccccc;
      /* Borde gris claro */
      border-width: 1px;
      /* Grosor del borde */
      border-radius: 4px;
      /* Bordes redondeados */
      transition: all 0.3s ease;
      /* Suaviza la transición */
  }

  /* Estilo para el mat-form-field cuando está enfocado */
  mat-form-field.mat-focused .mat-form-field-outline {
      border-color: #888888;
      /* Borde gris más oscuro cuando está enfocado */
  }

  /* Fondo del campo select dentro del mat-form-field */
  mat-form-field .mat-form-field-infix {
      background-color: #f5f5f5;
      /* Fondo gris muy claro */
      border-radius: 4px;
      /* Bordes redondeados */
  }

  /* Estilos de mat-select (el campo desplegable) */
  mat-select {
      color: #333333;
      /* Color gris oscuro para las opciones */
  }

  /* Estilo de la flecha del mat-select */
  mat-select .mat-select-arrow {
      color: #888888;
      /* Color gris para la flecha */
  }

  /* Cuando el mat-select está enfocado, cambiar color de la flecha */
  mat-form-field.mat-focused .mat-select-arrow {
      color: #333333;
      /* Color más oscuro para la flecha al enfocar */
  }

  /* Estilo de las opciones dentro del mat-select */
  mat-option {
      font-size: 14px;
      /* Tamaño de texto ajustado para las opciones */
      padding: 10px 15px;
      /* Relleno para las opciones */
      transition: background-color 0.3s ease;
      /* Transición suave para hover */
  }

  /* Efecto hover en las opciones */
  mat-option:hover {
      background-color: #e0e0e0;
      /* Fondo gris claro cuando se pasa el mouse */
  }

  /* Estilo de la opción seleccionada */
  mat-option.mat-selected {
      background-color: #c5cae9;
      /* Fondo azul claro para la opción seleccionada */
      color: #fff;
      /* Texto blanco para la opción seleccionada */
  }

  /* Estilo para las etiquetas de los mat-form-field */
  mat-label {
      font-weight: 500;
      /* Peso de la fuente moderado */
      color: #444444;
      /* Gris oscuro */
  }

  /* Estilo para el filtro por subcategoría, solo cuando se elige una categoría */
  mat-form-field.mat-hide {
      display: none;
  }

  /* Filtros - Botón para Mostrar/Ocultar */
  button.mat-raised-button {
      margin-top: 20px;
      background-color: #888888;
      /* Gris para el botón */
      color: white;
      /* Texto blanco */
      font-size: 14px;
      padding: 10px 20px;
      border-radius: 4px;
      box-shadow: none;
      transition: background-color 0.3s ease;
      width: 100%;
      /* Botón de ancho completo */
  }

  button.mat-raised-button:hover {
      background-color: #e9e3e3;
      /* Fondo más oscuro al pasar el mouse */
  }


  /* home.component.scss */

/* Contenedor para botón y dropdown */
.categories-container {
    position: relative;
    display: inline-block;
}

/* Dropdown de categorías */
.categories-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: transparent;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 10;
    pointer-events: none; /* Desactivar eventos del mouse mientras está oculto */
    width: 200px; /* Ancho del dropdown */
}

/* Mostrar dropdown al pasar el cursor */
.custom-button:hover + .categories-dropdown,
.categories-dropdown:hover {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; /* Activar eventos del mouse cuando esté visible */
}

/* Estilo para la lista de categorías */
.categories-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilo para cada ítem de la lista */
.categories-dropdown li {
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #eee; /* Separador entre ítems */
}

/* Fondo al pasar el cursor sobre un ítem */
.categories-dropdown li:hover {
    background-color: #f0f0f0;
}

/* Quitar borde inferior del último ítem */
.categories-dropdown li:last-child {
    border-bottom: none;
}
