<!-- Barra de Navegación con Filtro de Búsqueda -->
<mat-toolbar color="primary">
    <span class="logo">
        <img src="assets/Logo/logo1.png" alt="Logo" class="logo-img">
    </span>

    <span class="spacer"></span>

    <form class="form">
        <label for="search">
            <input required="" autocomplete="off" placeholder="Buscar productos" id="search" type="text"
                (input)="searchProducts($event)">
            <div class="icon">
                <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg" class="swap-on">
                    <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                        stroke-linecap="round"></path>
                </svg>
                <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg" class="swap-off">
                    <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
            </div>
            <button type="reset" class="close-btn">
                <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        fill-rule="evenodd"></path>
                </svg>
            </button>
        </label>
    </form>

    <span class="spacer"></span>

    <!-- Botones de navegación -->
    <button mat-button routerLink="/home" class="custom-button">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
    </button>

    <!-- Botón de Categorías con menú desplegable -->
    <div class="dropdown-container" (mouseover)="toggleCategoriesDropdown(true)"
        (mouseout)="toggleCategoriesDropdown(false)">
        <button mat-button class="custom-button">
            <mat-icon>dns</mat-icon>
            <span>Categorías</span>
        </button>

        <!-- Menú desplegable de categorías -->
        <div class="dropdown" *ngIf="showCategories">
            <ul>
                <li *ngFor="let category of categories" (mouseover)="showSubcategories(category)"
                    (mouseleave)="hideSubcategories()">
                    {{ category.name }}
                    <!-- Subcategorías 
                    <ul class="subcategories" *ngIf="activeCategory === category">
                        <li *ngFor="let subcategory of category.subcategories"
                            (click)="filterProducts(category.name, subcategory)">
                            {{ subcategory }}
                        </li>
                    </ul>-->
                </li>
            </ul>
        </div>
    </div>

    <!-- Listado de productos -->
    <div *ngIf="filteredProducts.length > 0">
        <div *ngFor="let product of filteredProducts">
            <!-- Mostrar los productos filtrados aquí, con detalle y añadir al carrito -->
        </div>
    </div>

    <!--PERFIL-->
    <!-- Botón de Perfil con menú desplegable -->
    <div class="dropdown-container" (mouseover)="toggleProfileDropdown(true)" (mouseout)="toggleProfileDropdown(false)">
        <button mat-button class="custom-button">
            <mat-icon>account_circle</mat-icon>
            <span>Mi perfil</span>
        </button>

        <!-- Menú desplegable de perfil -->
        <div class="dropdown" *ngIf="showProfileDropdown">
            <ul>
                <li (click)="goToProfile()">Perfil</li>
                <li (click)="goToOrder()">Mis pedidos</li>
                <li (click)="goToLogin()">Iniciar sesión</li>
                <li (click)="logout()">Cerrar sesión</li>
            </ul>
        </div>
    </div>

    <button mat-button routerLink="/carrito" class="custom-button">
        <mat-icon>shopping_cart</mat-icon>
        <span>Carrito de compras</span>
    </button>

</mat-toolbar>

<!-- banner -->
<div class="banner-carousel">
    <!-- Flecha izquierda para retroceder -->
    <button class="carousel-arrow carousel-arrow-left" (click)="previousImage()">
        <i class="fas fa-chevron-left"></i> <!-- Icono de flecha hacia la izquierda -->
    </button>

    <!-- Flecha derecha para avanzar -->
    <button class="carousel-arrow carousel-arrow-right" (click)="nextImage()">
        <i class="fas fa-chevron-right"></i> <!-- Icono de flecha hacia la derecha -->
    </button>

    <!-- Contenedor de imágenes del carrusel -->
    <div class="carousel-container">
        <div class="carousel-inner" [ngStyle]="{ 'transform': 'translateX(' + (-100 * currentImageIndex) + '%)' }">
            <img *ngFor="let image of images" [src]="image" alt="Imagen del banner" class="carousel-image">
        </div>

        <!-- Puntos de navegación -->
        <div class="carousel-dots">
            <span *ngFor="let image of images; let i = index" [ngClass]="{'active-dot': currentImageIndex === i}"
                class="dot" (click)="goToImage(i)">
            </span>
        </div>
    </div>
</div>


<!-- Filtros
<div *ngIf="openFilters" class="open-filters">
    <mat-form-field appearance="fill">
        <mat-label>Filtrar por categoría</mat-label>
        <mat-select [(value)]="selectedCategory">
            <mat-option value="men">Ropa de Hombre</mat-option>
            <mat-option value="women">Ropa de Mujer</mat-option>
            <mat-option value="kids">Ropa para Niños</mat-option>
            <mat-option value="accessories">Accesorios</mat-option>
        </mat-select>
    </mat-form-field>
</div>


<button mat-raised-button color="accent" (click)="toggleFilters()">
    {{ openFilters ? 'Ocultar Filtros' : 'Filtrado más popular' }}
</button>
 -->

<!-- Sección de Productos Destacados -->
<div class="products-container" *ngIf="!showProductDetail">
    <mat-card class="product-card" *ngFor="let product of filteredProducts" (click)="openModal(product)">
        <!-- Mostrar solo la primera imagen -->
        <img [src]="'http://localhost:8000' + product.images[0]" alt="Imagen principal de {{ product.name }}" />
        <mat-card-content>
            <h2>{{ product.name }}</h2>
            <p>Precio: {{ product.price | currency }}</p>
        </mat-card-content>
    </mat-card>
</div>


<app-footer></app-footer>