<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gradient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="image-container">
            <img src="assets/Logo/logo1.png" class="align-middle m-2" alt="logo" />
          </div>

          <div class="or-border m-t-30">inicia sesión con tu cuenta</div>

          <!-- Formulario de inicio de sesión -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="m-t-30">
            <!-- Campo de correo electrónico -->
            <div class="form-col" [class.show]="showInputs[0]">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Correo Electrónico</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput placeholder="Correo Electrónico" formControlName="email" />
                <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                  <span *ngIf="email?.errors?.['required']" class="text-danger">El correo es requerido.</span>
                  <span *ngIf="email?.errors?.['email']" class="text-danger">El correo no es válido.</span>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Campo de contraseña -->
            <div class="form-col" [class.show]="showInputs[1]">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Contraseña</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Contraseña"
                  formControlName="password" />
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button"
                  aria-label="Mostrar u ocultar contraseña">
                  <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                  <span *ngIf="password?.errors?.['required']" class="text-danger">La contraseña es requerida.</span>
                  <span *ngIf="password?.errors?.['minlength']" class="text-danger">La contraseña debe tener al menos 6
                    caracteres.</span>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Checkbox de recordar dispositivo -->
            <div class="d-flex align-items-center">
              <mat-checkbox color="primary">Recordar dispositivo</mat-checkbox>
              <a routerLink="/auth/forgot-password" class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14">
                ¿Olvidaste tu contraseña?
              </a>
            </div>

            <!-- Botón de iniciar sesión -->
            <button mat-flat-button color="primary" class="w-100" [disabled]="loginForm.invalid">Iniciar sesión</button>
          </form>

          <div class="or-border m-t-30">o inicia sesión con </div>

          <div class="flex-row">
            <!-- Botón de Google -->
            <button mat-stroked-button class="btn google w-100 d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20" class="google-icon">
                <path d="M113.47,309.408L95.648,375.94l-65.139,1.378C11.042,341.211,0,299.9,0,256
                  c0-42.451,10.324-82.483,28.624-117.732h0.014l57.992,10.632l25.404,57.644c-5.317,15.501-8.215,32.141-8.215,49.456
                  C103.821,274.792,107.225,292.797,113.47,309.408z" style="fill:#FBBB00;"></path>
                <path d="M507.527,208.176C510.467,223.662,512,239.655,512,256c0,18.328-1.927,36.206-5.598,53.451
                  c-12.462,58.683-45.025,109.925-90.134,146.187l-0.014-0.014l-73.044-3.727l-10.338-64.535
                  c29.932-17.554,53.324-45.025,65.646-77.911h-136.89V208.176h138.887L507.527,208.176L507.527,208.176z"
                  style="fill:#518EF8;"></path>
                <path d="M416.253,455.624l0.014,0.014C372.396,490.901,316.666,512,256,512
                  c-97.491,0-182.252-54.491-225.491-134.681l82.961-67.91c21.619,57.698,77.278,98.771,142.53,98.771
                  c28.047,0,54.323-7.582,76.87-20.818L416.253,455.624z" style="fill:#28B446;"></path>
                <path d="M419.404,58.936l-82.933,67.896c-23.335-14.586-50.919-23.012-80.471-23.012
                  c-66.729,0-123.429,42.957-143.965,102.724l-83.397-68.276h-0.014C71.23,56.123,157.06,0,256,0
                  C318.115,0,375.068,22.126,419.404,58.936z" style="fill:#F14336;"></path>
              </svg>
              Google
            </button>

            <!-- Botón de Facebook -->
            <button mat-stroked-button class="btn facebook w-100 d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" class="facebook-icon">
                <path fill="#1877F2"
                  d="M22.675 0H1.325C.593 0 0 .593 0 1.325v21.35C0 23.407.593 24 1.325 24h11.497v-9.294h-3.15v-3.622h3.15V9.75c0-3.127 1.868-4.852 4.735-4.852 1.378 0 2.514.102 2.854.148v3.327h-1.923c-1.506 0-1.853.713-1.853 1.801v2.307h3.366l-.434 3.622h-2.932V24h5.77c.732 0 1.325-.593 1.325-1.325V1.325C24 .593 23.407 0 22.675 0z">
                </path>
              </svg>
              Facebook
            </button>
          </div>

          <!-- Enlace para registro de cuenta -->
          <span class="d-block fw-bold text-center mt-4 d-flex align-items-center justify-content-center">
            Don't have an Account?
            <a [routerLink]="['/auth/register']" class="text-decoration-none text-primary fw-bold fs-6">Sign Up</a>
          </span>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="overlay" *ngIf="isLoading">
    <div id="container">
      <label class="loading-title">Loading ...</label>
      <span class="loading-circle sp1">
        <span class="loading-circle sp2">
          <span class="loading-circle sp3"></span>
        </span>
      </span>
    </div>
  </div>
</div>